// Основной шрифт
$font-family: 'Merriweather', serif;

// Заголовки
h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 16px 0;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 12px 0;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 0 10px 0;
}

h5 {
  font-size: 14px;
  font-weight: 400; // regular
  line-height: 21px;
  margin: 0 0 10px 0;
}

h6 {
  font-size: 14px;
  font-weight: 300; // light
  line-height: 21px;
  margin: 0 0 10px 0;
}

p {
  margin: 0;
}
// Общие стили для текста
body {
  font-family: $font-family;
  color: $text-dark;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-dark;
}
