.footer {
  margin-top: 30px;
  display: flex;
  box-sizing: border-box;
  min-height: 92px;
  align-items: center;
  justify-content: center;
  background-color: $background-footer;
  &__nav {
    display: none;
    @include md {
      display: flex;
    }
  }
  &__container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    @include lg {
      justify-content: space-between;
    }
    @include xl {
      padding: 0;
    }
  }
  &__contacts {
    color: $text-footer;
    display: flex;
    gap: 30px;
    font-size: 14px;
    flex-direction: column;
    @include sm {
      flex-direction: row;
    }
    &__info {
      color: $text-footer;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
