.nav-menu {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 0 95px;
    display: flex;
    gap: 49px;
  }
  &__item {
    margin: 0;
  }
  &__link {
    text-decoration: none;
    color: $text-dark;
    font-weight: 400;
    font-size: 14px;
    transition: color 0.3s ease;
    &:hover {
      color: #007bff;
    }
  }
}
