input {
  box-sizing: border-box;
  height: 48px;
  width: fit-content;
  border: $border solid 1px;
  padding: 0 15px;
  &:active {
    border: $border-active solid 1px;
  }
  &:focus {
    outline: none;
    border: $border-active solid 1px;
  }
}
