section {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1216px;
  width: 100%;
  padding: 50px 19px;
  @include sm {
    padding: 0 19px;
  }
  @include xl {
    padding: 0;
  }
  .section__title {
    padding: 0;
    margin: 46px 0 39px;
    font-size: 20px;

    @include xl {
      padding: 0;
      font-size: 24px;
    }
  }
}
